@use '../../styles/base' as *;

.wrapper__header {
  padding: 0 28px;
}
.Nav__bar {
  @include flex(center, space-between);
  height: 36px;
}

.location {
  @include flex(center, null);
}

.location__icon {
  margin: 0 10px;
  font-size: 2rem;
  color: $primary-color;
}
.location__current p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-weight: bold;
  font-size: 2rem;
}
.actions {
  @include flex(null, null);
}
.mobile__menu,
.notification {
  padding: 0 10px;
  font-size: 2rem;
}
.mobile__menu {
  position: relative;
}
.search {
  @include flex(center, null);
  border: 2px solid #e8e8e8;
  border-radius: 20px;
  height: 40px;
  padding: 0 30px 0 30px;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  margin-top: 10px;
}
.search__icon {
  opacity: 0.7;
  font-size: 14px;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}
.search:hover .search__icon {
  opacity: 1;
}
.search__input {
  @extend %search-input;
}
@include mobile {
  .wrapper__header {
    padding: 0;
  }
}
