.LoginLogo {
  border-radius: 8px;
  height: 70px;
  object-fit: cover;
  width: 119px;
}

.LoginOr {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  border: none;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  padding: 24px 0 0;
  align-items: center;
  &::after,
  &::before {
    content: '';
    border-bottom: 1px solid #c2c8d0;
    flex: 1 0 auto;
    margin: 0;
  }
  span {
    margin: 0 4px;
  }
}
