@use '../../styles/base' as *;

// .category__list {
//   @include flex(null, null);
//   list-style: none;
//   padding: 20px 0;
//   max-width: 100%;
//   overflow-x: auto;
//   justify-content: center;
//   &::-webkit-scrollbar {
//     display: none;
//   }
// }
.category__item {
  @include flex(center, space-evenly);
  flex-direction: column;
  padding: 10px 10px;
  background-color: $white;
  box-shadow: 4px 4px 14px -3px #999;
  cursor: pointer;
  border-radius: 0.5rem;
  &:active {
    transform: scale(0.7);
    transition: 100ms ease;
  }
  &:hover {
    background-color: $primary-color;
    .wrapper__icon {
      background-color: $white;
    }
    .category__icon {
      color: $text-color;
    }
    .category__content {
      color: $white;
    }
  }
}
.wrapper__icon {
  @include flex(center, center);
  width: 30px;
  height: 30px;
  background-color: $primary-color;
  border-radius: 50px;
}
.category__icon {
  font-size: 14px;
  color: $white;
}
.category__content {
  white-space: inherit;
  word-wrap: unset;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}

// @include mobile {
//   .category__list {
//     justify-content: unset;
//   }
//   .category__item {
//     min-width: 96px;
//   }
// }
