@use '../../styles/base' as *;

.wrapper__search__input {
  @include flex(center, null);
  height: 40px;
  margin-top: 10px;
}
.icon__back {
  font-size: 2rem;
  padding-right: 10px;
}
.search__input {
  @extend %search-input;
}
.history,
.suggestions {
  display: flex;
  flex-wrap: wrap;
  margin-left: -14px;
}
.history__item,
.suggestions__item {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 6px 10px;
  margin: 14px 0 0 14px;
  font-size: 1.4rem;
}
.search__suggestion__item {
  @include flex(center, space-between);
  padding: 15px 0;
}

.history__heading {
  @include flex('center', space-between);
  margin-top: 20px;
  h2 {
    font-weight: 700;
  }
  span {
    color: $primary-color;
  }
}
.remove__icon {
  color: #999;
  font-size: 2rem;
}
.suggestions__heading {
  margin-top: 20px;
  font-weight: 700;
}
.search__result__title {
  display: block;
  margin-top: 20px;
  @extend %title;
}
