@use "../../styles/base" as *;

.favorite__content__item {
  display: flex;
  padding: 15px 15px 10px 15px;
  border-bottom: 1px solid rgba(158, 158, 158, 0.37);
}
.favorite__content__item:last-child {
  border-bottom: none;
}
.item__right {
  width: 30%;
}
.item__right img {
  width: 100%;
  border-radius: 6px;
}
.item__left {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-left: 10px;
}
.title__item__left {
  color: #151414;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.title__item__left i {
  color: #e80013;
  margin-right: 5px;
  font-size: 13px;
}
.sub__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.evaluate {
  font-size: 13px;
  margin-top: 8px;
  padding-bottom: 5px;
}
.evaluate i {
  color: #ffeb3b;
  margin-right: 5px;
}
.evaluate span {
  color: #999;
}
.promotion {
  color: #ee4d2d;
  display: flex;
  font-size: 11px;
  align-items: center;
}
.promotion span {
  padding: 0px 4px;
  border-radius: 2px;
  border: 0.1px solid;
}
.heart {
  text-align: end;
  color: red;
}
