@use "../../styles/base" as *;

.product__price {
  color: #0288d1;
}
.product__icon__add {
  font-size: 30px;
}
.product__image {
  width: 100px;
  height: 80px;
  img {
    width: 100px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
  }
}

.tab_code__off:hover {
  font-weight: bold;
  color: $white;
}
