@use "../../styles/base" as *;

.slider__item {
  height: 370px;
  cursor: pointer;
  img {
    @extend %img-cover;
    border-radius: 4px;
  }
  &:hover {
    transform: scale(1.05);
    transition: 400ms ease-in-out;
  }
}
@include mobile {
  .slider {
    padding: 0;
    margin-right: 1rem;
  }
  .slider__item {
    margin: 0 6px;
    border-radius: 4px;
    height: 145px;
  }
}
