@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "bootstrap-5.0.2/bootstrap.scss";
@import "normalize.css";
@import "_base";

// custom
@import "./custom/day-picker.scss";
@import "./custom/form";
@import "./custom/plugins/react-select";
@import "./custom/plugins/react-slick";
@import "./custom/plugins/muti-date-picker";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
}

html body {
  font-family: $font-family;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: $text-color;
  margin: 0 auto;
  max-width: 1920px;
}
.body {
  margin-top: 86px;
}
body a {
  text-decoration: none;
  color: $text-color;
  :hover {
    color: $text-color;
  }
}
.large__line {
  margin-right: var(--bs-gutter-x, -0.75rem);
  margin-left: var(--bs-gutter-x, -0.75rem);
  border-bottom: 8px solid #cbd9e145;
}
.small__line {
  border-bottom: 1px solid #cbd9e145;
  margin-right: var(--bs-gutter-x, -0.75rem);
  margin-left: var(--bs-gutter-x, -0.75rem);
}
.full-screen {
  margin-right: var(--bs-gutter-x, -0.75rem);
  margin-left: var(--bs-gutter-x, -0.75rem);
}
.heading {
  @extend %heading;
}
input {
  outline: none;
}
// Start: slider
.slider-wrapper {
  padding: 20px 0;
}
// End: slider
