@import 'bootstrap-5.0.2/bootstrap.scss';
@import 'normalize.css';
@import '_base';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
}

html body {
  font-family: $font-family;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: $text-color;
  margin: 0 auto;
  max-width: 1920px;
}
.body {
  margin-top: 86px;
}
body a {
  text-decoration: none;
  color: $text-color;
  :hover {
    color: $text-color;
  }
}
.large__line {
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  border-bottom: 8px solid #cbd9e145;
}
.small__line {
  border-bottom: 1px solid #999;
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.heading {
  @extend %heading;
}
// Start: slider
.slider-wrapper {
  padding: 20px 0;
}
// End: slider
