@import 'normalize.css';
@import '_base';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: $text-color;
  overflow-y: overlay;
  margin: 0 auto;
  max-width: 1920px;
  padding: 5px 10px 0;
}
body a {
  text-decoration: none;
  color: $text-color;
  :hover {
    color: $text-color;
  }
}

// Start: slider
.slider-wrapper {
  padding: 20px 0;
}
// End: slider
